.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
}

.subscribeSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    width: 83%;
    background-color: #000;
    border-radius: 20px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 36px;
    padding-bottom: 36px;
    position: absolute;
}

.stayUptoDate {
    display: flex;
    align-items: center;
    width: 551px;
    height: 94px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    line-height: 45px;
    /* 112.5% */
}

.subscribeInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 108px;
    width: 349px;
    gap: 14px;
}

.inputs {
    width: 100%;
    height: 48px;
    border-radius: 62px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    background-color: #FFFFFF;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mailInputContainer {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 62px;
    padding-left: 16px;
}

.footerDetails {
    height: 500px;
    width: 100%;
    background-color: #F0F0F0;
    margin-top: 90px;
    padding-left: 100px;
    padding-right: 100px;
}

.detailsContainer {
    padding-bottom: 50px;
    border-bottom-width: 3px;
    border-color: #0000001A;
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}

.footerShopTitle {
    color: #000;
    font-size: 33.455px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
   
}

.footerDesc {
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    
    /* 157.143% */
}

.footerDescContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerDescDetails {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 112.5% */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.descLinks {
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* 118.75% */
}

.footerShopCo {
    color: rgba(0, 0, 0, 0.60);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
}

